.first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 100px;
}

#first_pic {
  width: 200px;
  margin-right: 60px;
}

.introduce > h2 {
  font-size: 40px;
}

.introduce > p {
  text-align: center;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 100px;
}

.education {
  margin-right: 100px;
  text-align: center;
}

.activities {
  margin-left: 100px;
  text-align: center;
}

.third {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 100px;
}

.fourth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 100px;
  text-align: center;
}

.travelimg {
  display: flex;
  justify-content: center;
}
.travelimg img {
  width: 300px;
  margin-right: 30px;
}

h3 {
  font-size: 30px;
}

.skills {
  text-align: center;
}

.skills h3 {
  font-size: 30px;
  padding-bottom: 30px;
}

.language {
  display: flex;
  justify-content: center;
}
